path {
    fill: none;
}

.axis path, .axis line{
    stroke: black;
}
.axis .label {
    font-size: 12pt;
}

rect {
    stroke-width: 1px;
}

.HeatMap {
    stroke: none;
}

.time_axis {
    font: 12px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.time_axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.time_axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider .handle {
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
}

.top-buffer { margin-top:40px; }